@font-face {
  font-family: "prettynight";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LeeSeoyun";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f6f6f6;
  font-family: "LeeSeoyun";
}

#root {
  background-color: #fff;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
          box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

.App {
  min-height: 100vh;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 650px) {
  .App {
    width: 640px;
  }
}

@media (max-width: 650px) {
  .App {
    width: 90vw;
  }
}

/* Btn */
.Btn {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  white-space: nowrap;
  font-family: inherit;
  font-size: 18px;
}

.Btn_default {
  background-color: #ececec;
  color: #000;
}

.Btn_positive {
  background-color: #64c964;
  color: #fff;
}

.Btn_negative {
  background-color: #fd565f;
  color: #fff;
}

/* header */
.Header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #e2e2e2;
}

.Header > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Header__text {
  width: 50%;
  font-size: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Header__btn {
  width: 25%;
}

.Header__btn--left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.Header__btn--right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

/* DiaryList */
.DiaryList nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0 30px;
}

.DiaryList nav .right_col {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.DiaryList nav .right_col button {
  width: 100%;
}

.DiaryList .ControlMenu {
  margin-right: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  background-color: #ececec;
  cursor: pointer;
  font-family: inherit;
  font-size: 18px;
}

/* DiaryItem */
.DiaryItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid #e2e2e2;
}

.DiaryItem .img-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 120px;
  height: 80px;
  border-radius: 6px;
  cursor: pointer;
}

.DiaryItem .img-wrap img {
  height: 100%;
}

.DiaryItem .desc-wrap {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 20px;
  cursor: pointer;
}

.DiaryItem .desc-wrap .preview {
  margin-top: 5px;
  font-size: 18px;
}

.DiaryItem .btn-wrap {
  min-width: 70px;
}

/* DiaryEditor */
.DiaryEditor {
  padding-bottom: 40px;
}

.DiaryEditor section + section {
  margin-top: 40px;
}

.DiaryEditor h4 {
  font-size: 22px;
  font-weight: bold;
}

.DiaryEditor .input-date {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  background-color: #ececec;
  cursor: pointer;
  font-family: inherit;
  font-size: 20px;
}

.DiaryEditor .list-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2%;
}

.DiaryEditor .input-content {
  width: 100%;
  min-height: 200px;
  padding: 20px;
  resize: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font: inherit;
  border: none;
  border-radius: 6px;
  background-color: #ececec;
}

.DiaryEditor .btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* EmotionItem */
.EmotionItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  border-radius: 6px;
  cursor: pointer;
}

.EmotionItem__off {
  background-color: #ececec;
}

.EmotionItem img {
  width: 50%;
  margin-bottom: 10px;
}

.EmotionItem span {
  font-size: 18px;
}

/* Diary */
.DiaryPage section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 100px;
  text-align: center;
}

.DiaryPage h4 {
  font-size: 22px;
  font-weight: bold;
}

.DiaryPage .img-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 250px;
  height: 250px;
  border-radius: 6px;
}

.DiaryPage .img-wrap .desc {
  font-size: 25px;
  color: #fff;
}

.DiaryPage .content-wrap {
  width: 100%;
  overflow-wrap: break-word;
  background-color: #ececec;
  border-radius: 6px;
  word-break: keep-all;
}

.DiaryPage .content-wrap p {
  padding: 0 20px;
  text-align: left;
  line-height: 2.5;
}

.emotion-img1 {
  background-color: #64c964;
}

.emotion-img2 {
  background-color: #9dd772;
}

.emotion-img3 {
  background-color: #fdce17;
}

.emotion-img4 {
  background-color: #fd8446;
}

.emotion-img5 {
  background-color: #fd565f;
}
