@font-face {
  font-family: 'prettynight';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LeeSeoyun';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$main-font:'LeeSeoyun';
$text-font: 'prettynight';
$e1: #64c964;
$e2: #9dd772;
$e3: #fdce17;
$e4: #fd8446;
$e5: #fd565f;
$bg: #ececec;

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f6f6f6;
  font-family: $main-font;
}

#root {
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

.App {
  min-height: 100vh;
  padding: 0 20px;
  box-sizing: border-box;
  @media (min-width: 650px) {
    width: 640px;
  }
  @media (max-width: 650px) {
    width: 90vw;
  }
}

/* Btn */
.Btn {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  white-space: nowrap;
  font-family: inherit;
  font-size: 18px;
  &_default {
    background-color: $bg;
    color: #000;
  }
  &_positive {
    background-color: #64c964;
    color: #fff;
  }
  &_negative {
    background-color: #fd565f;
    color: #fff;
  }
}

/* header */
.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #e2e2e2;
  > div {
    display: flex;
  }
  &__text {
    width: 50%;
    font-size: 25px;
    justify-content: center;
  }
  &__btn {
    width: 25%;
    &--left {
      justify-content: start;
    }
    &--right {
      justify-content: end;
    }
  }
}

/* DiaryList */
.DiaryList {
  nav {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 30px;
    .right_col {
      flex-grow: 1;
      button {
        width: 100%;
      }
    }
  }
  .ControlMenu {
    margin-right: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    background-color: $bg;
    cursor: pointer;
    font-family: inherit;
    font-size: 18px;
  }
}

/* DiaryItem */
.DiaryItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid #e2e2e2;
  .img-wrap {
    display: flex;
    justify-content: center;
    min-width: 120px;
    height: 80px;
    border-radius: 6px;
    cursor: pointer;
    img {
      height: 100%;
    }
  }
  .desc-wrap {
    flex-grow: 1;
    margin-left: 20px;
    cursor: pointer;
    .date {
    }
    .preview {
      margin-top: 5px;
      font-size: 18px;
    }
  }
  .btn-wrap {
    min-width: 70px;
  }
}

/* DiaryEditor */
.DiaryEditor {
  padding-bottom: 40px;
  section + section {
    margin-top: 40px;
  }
  h4 {
    font-size: 22px;
    font-weight: bold;
  }
  .input-date {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    background-color: $bg;
    cursor: pointer;
    font-family: inherit;
    font-size: 20px;
  }
  .list-wrap {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 2%;
  }
  .input-content {
    width: 100%;
    min-height: 200px;
    padding: 20px;
    resize: vertical;
    box-sizing: border-box;
    font: inherit;
    border: none;
    border-radius: 6px;
    background-color: $bg;
  }
  .btn-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/* EmotionItem */
.EmotionItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  border-radius: 6px;
  cursor: pointer;
  &__off {
    background-color: $bg;
  }

  $colors: (
    1: $e1,
    2: $e2,
    3: $e3,
    4: $e4,
    5: $e5,
  );
  @each $order, $color in $colors {
  }
  img {
    width: 50%;
    margin-bottom: 10px;
  }
  span {
    font-size: 18px;
  }
}

/* Diary */
.DiaryPage {
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 100px;
    text-align: center;
  }
  h4 {
    font-size: 22px;
    font-weight: bold;
  }
  .img-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 250px;
    height: 250px;
    border-radius: 6px;
    background-color: $bg;
    .desc {
      font-size: 25px;
      color: #fff;
    }
  }
  .content-wrap {
    width: 100%;
    overflow-wrap: break-word;
    background-color: $bg;
    border-radius: 6px;
    word-break: keep-all;
    p {
      padding: 0 20px;
      text-align: left;
      line-height: 2.5;
    }
  }
}

$colors: (
  1: $e1,
  2: $e2,
  3: $e3,
  4: $e4,
  5: $e5,
);
@each $order, $color in $colors {
  .emotion-img#{$order} {
    background-color: $color;
  }
  // .EmotionItem__on#{$order} {
  //   background-color: $color;
  // }
}
